<section class="background-image-container overflow-hidden login">
    <div class="background-overlay"></div>
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Bienvenido a  <br />
            <span style="color: hsl(218, 81%, 75%)">TrepAr</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Impulsa tu negocio con las herramientas esenciales para emprendedores.
            Gestiona productos, simula precios de venta y conecta con una red
            colaborativa de emprendedores.
          </p>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="formularioLogin" (ngSubmit)="login()">
                <p class="error">{{loginError}}</p>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" id="email" placeholder="Ingrese su email" formControlName="email"
                    class="form-control" />
                  <div
                    *ngIf="formularioLogin.controls['email'].invalid && (formularioLogin.controls['email'].dirty || formularioLogin.controls['email'].touched)"
                    class="alert alert-danger">
  
                    <div class="error" *ngIf="formularioLogin.controls['email'].getError('required')">
                      Email requerido
                    </div>
                    <div class="error" *ngIf="formularioLogin.controls['email'].hasError('email')">
                      Ingrese un formato de correo electrónico válido
                    </div>
                  </div>
                </div>
  
                <div data-mdb-input-init class="form-outline mb-4"> <label class="form-label"
                    for="password">Password</label>
                  <div class="password-container"> <input [type]="isPasswordVisible ? 'text' : 'password'"
                      placeholder="******" formControlName="password" class="form-control" /> <a
                      class="botonMostrarOcultar" (click)="togglePasswordVisibility()"><i class="fas"
                        [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i></a> </div>
                  <div
                    *ngIf="formularioLogin.controls['password'].invalid && (formularioLogin.controls['password'].dirty || formularioLogin.controls['password'].touched)"
                    class="alert alert-danger">
                    <div class="error" *ngIf="formularioLogin.controls['password'].getError('required')"> Contraseña
                      requerida </div>
                  </div>
                </div>
  
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
                <section class="mt-2">
                  ¿No tienes una cuenta? <a href="/registrarse">Registrarme</a>
                </section>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  