<section class="background-image-container overflow-hidden login">
    <div class="background-overlay"></div>
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Inicia tu viaje con  <br />
            <span style="color: hsl(218, 81%, 75%)">TrepAr</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Descubre la plataforma diseñada para empoderar emprendedores.
            Organiza tu inventario, optimiza tus precios y colabora con una
            comunidad vibrante de emprendedores.
          </p>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="formularioRegistrase" (ngSubmit)="signIn()">
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="nombre">Nombre*</label>
                  <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre"
                    formControlName="nombre" class="form-control" />
                  <div *ngIf="formularioRegistrase.controls['nombre'].invalid && (formularioRegistrase.controls['nombre'].dirty || formularioRegistrase.controls['nombre'].touched)"
                  class="alert alert-danger">
                      <div  class="error" *ngIf="formularioRegistrase.controls['nombre'].getError('required')">
                          Nombre requerido
                      </div>
                  </div>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="apellido">Apellido*</label>
                  <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido"
                    formControlName="apellido" class="form-control" />
                  <div *ngIf="formularioRegistrase.controls['apellido'].invalid && (formularioRegistrase.controls['apellido'].dirty || formularioRegistrase.controls['apellido'].touched)"
                  class="alert alert-danger">
  
                      <div  class="error" *ngIf="formularioRegistrase.controls['apellido'].getError('required')">
                          Apellido requerido
                      </div>
                  </div>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="email">Email*</label>
                  <input type="email" id="email" placeholder="Ingrese su email" formControlName="email"
                    class="form-control" />
                    <div *ngIf="formularioRegistrase.controls['email'].invalid && (formularioRegistrase.controls['email'].dirty || formularioRegistrase.controls['email'].touched)"
                    class="alert alert-danger">
  
                        <div  class="error" *ngIf="formularioRegistrase.controls['email'].getError('required')">
                            Email requerido
                        </div>
                         <div  class="error" *ngIf="formularioRegistrase.controls['email'].hasError('email')">
                            Ingrese un formato de correo electrónico válido
                        </div>
                    </div>
                </div>
  
  
                <div data-mdb-input-init class="form-outline mb-4"> <label class="form-label"
                    for="password">Password</label>
                  <div class="password-container">
                    <input [type]="isPasswordVisible ? 'text' : 'password'"
                      placeholder="******" formControlName="password" class="form-control" /> <a
                      class="botonMostrarOcultar" (click)="togglePasswordVisibility()"><i class="fas"
                        [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i></a> </div>
                    <div *ngIf="formularioRegistrase.controls['password'].invalid && (formularioRegistrase.controls['password'].dirty || formularioRegistrase.controls['password'].touched)"
                    class="alert alert-danger">
  
                        <div  class="error" *ngIf="formularioRegistrase.controls['password'].getError('required')">
                            Contraseña requerida
                        </div>
  
                        <div class="error" *ngIf="formularioRegistrase.controls['password'].hasError('minlength')">
                            La contraseña debe tener al menos 8 caracteres
                          </div>
                    </div>
                </div>
  
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                  Aceptar
                </button>
                <section class="mt-2">
                  ¿Ya tienes una cuenta? <a href="/acceso">Iniciar sesión</a>
                </section>
              </form>

               <!-- Segundo formulario de perfil -->
            <form *ngIf="showProfileForm" [formGroup]="formularioPerfil" (ngSubmit)="saveProfile()">
              <div class="form-outline mb-4">
                <div class="form-outline mb-4">
                  <label class="form-label" for="username">Username*</label>
                  <input type="text" id="username" formControlName="username" class="form-control" placeholder="Nombre de usuario" />
                  <div *ngIf="formularioPerfil.controls['username'].invalid && (formularioPerfil.controls['username'].dirty || formularioPerfil.controls['username'].touched)" class="alert alert-danger">
                    <div class="error" *ngIf="formularioPerfil.controls['username'].getError('required')">
                      Nombre de usuario requerido
                    </div>
                    <div class="error" *ngIf="formularioPerfil.controls['username'].hasError('minlength')">
                      El nombre de usuario debe tener al menos 3 caracteres
                    </div>
                    <div class="error" *ngIf="formularioPerfil.controls['username'].hasError('maxlength')">
                      El nombre de usuario no puede tener más de 20 caracteres
                    </div>
                  </div>
                </div>

                <label class="form-label" for="descripcion">Descripción*</label>
                <textarea id="descripcion" formControlName="descripcion" class="form-control" placeholder="Breve descripción sobre ti"></textarea>
                <div *ngIf="formularioPerfil.controls['descripcion'].invalid && (formularioPerfil.controls['descripcion'].dirty || formularioPerfil.controls['descripcion'].touched)" class="alert alert-danger">
                  <div class="error" *ngIf="formularioPerfil.controls['descripcion'].getError('required')">
                    Descripción requerida
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="pais">País*</label>
                <input type="text" id="pais" formControlName="pais" class="form-control" placeholder="País" />
                <div *ngIf="formularioPerfil.controls['pais'].invalid && (formularioPerfil.controls['pais'].dirty || formularioPerfil.controls['pais'].touched)" class="alert alert-danger">
                  <div class="error" *ngIf="formularioPerfil.controls['pais'].getError('required')">
                    País requerido
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="ciudad">Ciudad*</label>
                <input type="text" id="ciudad" formControlName="ciudad" class="form-control" placeholder="Ciudad" />
                <div *ngIf="formularioPerfil.controls['ciudad'].invalid && (formularioPerfil.controls['ciudad'].dirty || formularioPerfil.controls['ciudad'].touched)" class="alert alert-danger">
                  <div class="error" *ngIf="formularioPerfil.controls['ciudad'].getError('required')">
                    Ciudad requerida
                  </div>
                </div>
              </div>

                <!-- Campos opcionales -->
              <div class="form-outline mb-4">
              <label class="form-label" for="linkInstagram">Instagram</label>
              <input type="text" id="linkInstagram" formControlName="linkInstagram" class="form-control" placeholder="Link de Instagram" />
              </div>

              <div class="form-outline mb-4">
              <label class="form-label" for="linkLinkedIn">LinkedIn</label>
              <input type="text" id="linkLinkedIn" formControlName="linkLinkedIn" class="form-control" placeholder="Link de LinkedIn" />
              </div>

              <div class="form-outline mb-4">
              <label class="form-label" for="linkWeb">Sitio Web</label>
              <input type="text" id="linkWeb" formControlName="linkWeb" class="form-control" placeholder="Link de tu sitio web" />
              </div>

              <div class="form-outline mb-4">
              <label class="form-label" for="telefono">Teléfono</label>
              <input type="text" id="telefono" formControlName="telefono" class="form-control" placeholder="Número de teléfono" />
              </div>

              <div class="form-outline mb-4">
              <label class="form-label" for="imagePerfil">Imagen de perfil</label>
              <input type="file" id="imagePerfil" formControlName="imagePerfil" class="form-control" />
              </div>

              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                Registrarse
              </button>
              <section class="mt-2">
                ¿Ya tienes una cuenta? <a href="/acceso">Iniciar sesión</a>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  
  
  
  
  