<section class="container-fluid container-inicio">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img class="img-cover-carousel" width="100%" height="350"
        src="/assets/img/home-carrousel-1.jpg" alt="Imagen de referencia" />
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="titulo-carrousel-inicio">Comparte tus productos.</h1>
            <p class="opacity-75">
              Carga y gestiona tus productos de forma sencilla.
            </p>
            <p><a class="btn btn-lg btn-primary" href="/dashboard/perfil">
              Ir a mi perfil
            </a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img class="img-cover-carousel" width="100%" height="350"
        src="/assets/img/home-carrousel-2.jpg" alt="Imagen de referencia" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="titulo-carrousel-inicio">Conecta con otros emprendedores.</h1>
            <p>
              Chatea y conoce a los emprendedores que encuentres en la comunidad
            </p>
            <p><a class="btn btn-lg btn-primary" href="/dashboard/comunidad">
              Ir a la comunidad
            </a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img class="img-cover-carousel" width="100%" height="350"
        src="/assets/img/home-carrousel-3.jpg" alt="Imagen de referencia" />
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="titulo-carrousel-inicio">Simula precios</h1>
            <p>
              Puedes simular el precio de venta de un producto.
            </p>
            <p><a class="btn btn-lg btn-primary" href="/dashboard/simulador">
              Ir al simulador
            </a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container marketing mt-4">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle img-info-inicio" width="140" height="140"
        src="/assets/img/inicio-info-1.jpg" alt="Imagen de computadora" />
        <h2 class="fw-normal">Conecta</h2>
        <p>Descubre nuevos emprendedores y mantente al dia con los precios y los
          productos que ellos comparten. Tambien puedes guardar en favoritos los
          los perfiles que te interesen.
        </p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle img-info-inicio" width="140" height="140"
        src="/assets/img/inicio-info-2.jpg" alt="Imagen de chatear" />
        <h2 class="fw-normal">Chatea</h2>
        <p>Chatea de manera segura con emprendedores de la comunidad.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle img-info-inicio" width="140" height="140"
        src="/assets/img/inicio-info-3.jpg" alt="Imagen de computadora" />
        <h2 class="fw-normal">Comparte</h2>
        <p>Comparte tus productos, puedes controlar que productos se muestran a
          la comunidad, y cuales no.
        </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Navega facilmente</h2>
        <p class="lead">
          Intuitivamente navega por la comunidad, filtando por nombre,
          categoria, favoritos, emprendedores y productos</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-detalle-inicio "
        width="500" height="500" src="/assets/img/detalle-inicio-1.jpg" alt="Imagen de reemplazo" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          Configura tu perfil
        </h2>
        <p class="lead">
          Describe tu negocio, agrega productos, agrega links a tus redes sociales
          y pagina web facilmente.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-detalle-inicio "
        width="500" height="500" src="/assets/img/detalle-inicio-2.jpg" alt="Imagen de reemplazo" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Nuevo simulador
        </h2>
        <p class="lead">
          Descubre nuestro nuevo simulador de precios, calcula el precio ideal
        para tus productos configurando la ganancia deseada, gastos de produccion, etc.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-detalle-inicio "
        width="500" height="500" src="/assets/img/detalle-inicio-3.jpg" alt="Imagen de reemplazo" />
      </div>
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</section>
