.img-cover-carousel {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  filter: brightness(60%);
}

.container-inicio {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.img-info-inicio {
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.img-detalle-inicio {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

@media (max-width: 425px) {
  .titulo-carrousel-inicio {
    font-size: 1.9em;
  }
}
