<!--<header class="header">
    <div class="logo">
    <a href="#">TrepAr</a>
    </div>
    <nav>
        <ul class="nav-link">
        <li>
        <a href="/acceso">Acceder</a>
        <a href="/dashboard">perfil</a>
        </li>
        </ul>
    </nav>
</header>--!-->
<header class="header">
    <div class="logo">
      <a routerLink="/"></a>
      <img src="/assets/img/logo nav.png" alt="Logo de TrepAr">
    </div>
    <nav>
      <ul class="nav-link">
        <li>
          <a href="/acceso">Acceder</a>
          <a href="/dashboard">Perfil</a> <!-- Enlace al perfil dentro del dashboard -->
        </li>
      </ul>
    </nav>
  </header>
