:root {
    --naranja: #F7BD56;
    --blanco: white;
  }
  
  .logo {
    height: 15vh;
    /* Ajusta la altura según necesites */
    width: auto;
    /* Mantiene la proporción */
    padding: 0;
    margin: 0;
  }
  
  .nabvar-size {
    height: 10vh;
    /* Ajusta la altura según necesites */
    width: 100%;
    /* Mantiene la proporción */
    align-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  