<div class="container">
    <h1>¡Bienvenidos a TrepAr!</h1>
    <p>Trepar es una página donde podrás cargar y ver tus productos, además de simular precios para ayudarte a gestionar tus ventas de manera más eficiente.</p>
   <!-- Sección de información destacada -->
   <section class="info-section">
    <h2>¿Qué ofrecemos?</h2>
    <div class="info-cards">
        <div class="info-card">
            <h3>Gestión de Productos</h3>
            <p>Agrega, edita y visualiza tus productos de manera rápida y sencilla.</p>
        </div>
        <div class="info-card">
            <h3>Simulación de Precios</h3>
            <p>Calcula el precio ideal de tus productos para maximizar tus beneficios.</p>
        </div>
    </div>
    </section>
</div>
  
