:host {
    display: block;
    width: 100%;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.87); /* Negro con 60% de transparencia */
    color: white; /* Color del texto */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;
    z-index: 10;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: white;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .form-control{
    width: 18vw;
  }

  .custom-select {
    width: 9vw; /* Ajusta el valor según lo necesites */
  }