<div class="productos container-fluid">
  <form [formGroup]="formulario" (ngSubmit)="actualizarProducto()">
      <div class="form-group elemento-form mb-4">
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre">
      </div>

      <div class="form-group mb-4">
        <label for="categoria">Categoría:</label>
        <input id="categoria" formControlName="categoria">
      </div>

      <div class="form-group mb-4">
        <label for="descripcion">* Descripción:</label>
        <textarea  id="descripcion" formControlName="descripcion"></textarea>
     </div>

      <div class="form-group mb-4">
        <label for="precio">Precio:</label>
        <input id="precio" formControlName="precio">
      </div>

      <div class="form-group mb-4">
        <label for="imagen"> Imagen:</label>
        <input type="text" id="imagen" formControlName="imagen" class="form-control" placeholder="Introduce la URL de la imagen" />
      </div>


      <div class="form-group mb-4">
        <label for="privacidad">* Privacidad :</label>
        <select id="privacidad" formControlName="privado" class="form-control">
          <option value="true">Privado</option>
          <option value="false">Público</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success mb-3 mt-2"
      [disabled]="formulario.invalid">
        Guardar Cambios
      </button>
    </form>
</div>
