.container {
  background-color: rgba(255, 255, 255, 0.76); /* Fondo blanco con 90% de opacidad */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  padding: 30px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar */
  width: 100%;
}

.datos-perfil{
margin-bottom: 10vh;
min-height: 35vh; /* O usa height: 500px; según lo que necesites */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave en la parte inferior */
}

.avatar {
  position: relative;
}

.avatar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.avatar button {
  border: none;
  cursor: pointer;
}


input {
  max-width: 250px;
}

.rounded-circle {
  border-radius: 50% !important;
}

img {
  vertical-align: middle;
}
.text-muted {
  color: #3b3b3b !important;
}
.text-muted {
  font-weight: 400;
}


a {
  text-decoration: none; /* Elimina la subrayado del enlace */
  color: inherit; /* Mantiene el color por defecto del texto */
  cursor: pointer; /* Cambia el cursor cuando pasa sobre el enlace */
}

a:hover {
  color: #88d9df; 
}
