<div class="container-fluid" *ngIf="!vistaPerfil">
  <div class="profile-banner">
  </div>
  <div class="profile-container-info">
    <div class="profile-edit-btn">
      <button class="btn btn-outline-dark rounded-circle p-2 lh-1 button-edit position-absolute"
      style="top: 10px; right: 20px;" type="button" (click)="editarPerfil()"> <i
        class="fa-solid fa-pen-to-square"></i> <span class="visually-hidden">Dismiss</span>
      </button>
    </div>
    <div class="profile-content">
      <img [src]="perfilData?.imagePerfil || 'assets/img/usuario.png'" alt="Imagen de perfil" class="profile-photo">
      <h2 class="contact-name">{{perfilData?.userName}}</h2>
      <span class="badge rounded-pill text-bg-dark custom-badge">
        {{perfilData?.provincia}}, {{perfilData?.ciudad}}
      </span>
      <p class="contact-item contact-description">{{perfilData?.descripcion}}</p>
      <div *ngIf="perfilData?.telefono" class="contact-item">
        <i class="fa-solid fa-phone"></i> {{perfilData?.telefono}}
      </div>
      <div class="contact-info mt-2">
        <div *ngIf="perfilData?.linkLinkedIn" class="contact-item">
          <a [href]="perfilData?.linkLinkedIn" target="_blank" rel="noopener noreferrer"
          class="btn btn-light rounded-pill p-2">
            <i class="fa-brands fa-linkedin fa-lg me-2" style="color: #0e76a8;"></i>
            LinkedIn
          </a>
        </div>
        <div *ngIf="perfilData?.linkWeb" class="contact-item">
          <a [href]="perfilData?.linkWeb" target="_blank" rel="noopener noreferrer"
          class="btn btn-light rounded-pill p-2">
            <i class="fa-solid fa-globe fa-lg me-2" style="color: #133a7e;"></i>
            Web
          </a>
        </div>
        <div *ngIf="perfilData?.linkInstagram" class="contact-item">
          <a [href]="perfilData?.linkInstagram" target="_blank" rel="noopener noreferrer"
          class="btn btn-light rounded-pill p-2">
            <i class="fa-brands fa-instagram fa-lg me-2" style="color: #C13584;"></i>
            Instagram
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!vistaPerfil">
    <div class="col-12">
      <app-mis-productos [userId]="idUser"></app-mis-productos>
    </div>
  </div>
</div>

<div *ngIf="vistaPerfil">
  <section class="container-fluid titulo-modificar-perfil">
    <h6 class="pt-4 border-bottom d-flex flex-column
    flex-md-row justify-content-between align-items-center texto-titulo">
      <div>
        <i class="fa-solid fa-user me-2"></i>Actualizacion de perfil
      </div>
      <button type="button" class="btn btn-outline-primary m-2 mt-md-0 p-1"
      (click)="editarPerfil()">
        Volver
      </button>
    </h6>
  </section>

  <app-editar-perfil [userId]="idUser" (estadoCambiado)="actualizarEstado($event)"></app-editar-perfil>
</div>

