
<div class="container">
  
  <button *ngIf="vistaPerfil" class="btn btn-outline-primary p-2 lh-1 button-edit" type="button" (click)="editarPerfil()">
  Volver
  <span class="visually-hidden">Dismiss</span>
</button>

<app-editar-perfil [userId]="idUser" *ngIf="vistaPerfil"></app-editar-perfil>

  <div class="row "  *ngIf="!vistaPerfil">
    <div class="col-12 ">
      <div class="my-2">

        <!-- Inicio de contenido personalizado -->
        <div class="row datos-perfil align-items-center ">
          <!-- Sección de imagen y nombre de usuario -->
          <div class="col-md-3 text-center ">
           <button class="btn btn-outline-primary rounded-circle p-2 lh-1 button-edit" type="button" (click)="editarPerfil()">
            <i class="fa-solid fa-pen-to-square" ></i>
            <span class="visually-hidden">Dismiss</span>
          </button>
            <div class="avatar avatar-xl" >
              <!-- Imagen de perfil -->
              <img  [src]="perfilData?.imagePerfil || 'assets/img/usuario.png'" alt="Imagen de perfil" class="avatar-img rounded-circle">
              
    
            </div>
          </div>

          <!-- Sección de descripción y contacto -->
          <div class="col" >
            <div class="row">
              <div class="col-md-7">
                <h4 class="mb-1" >{{perfilData?.userName}}</h4>
                <span class="badge rounded-pill text-bg-dark mb-3">
                  {{perfilData?.provincia}}, {{perfilData?.ciudad}}</span>
                <p class="text-muted">{{perfilData?.descripcion}}</p>
                
              </div>
              <div class="col">                
                <p class="mb-3 text-muted">
                  <i class="fa-solid fa-phone"></i>
                  {{perfilData?.telefono}}
                </p>
                <p class="mb-3">
                  <i class="fa-brands fa-linkedin"></i>
                  <a [href]="perfilData?.linkLinkedIn" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
                </p>
                <p class="mb-3">
                  <i class="fa-brands fa-instagram"></i>
                  <a [href]="perfilData?.linkInstagram" target="_blank" rel="noopener noreferrer"> Instagram </a>
                </p>
              </div>
              
            </div>
          </div>
        </div>

        <!-- Sección de productos -->
        <div class="row"  *ngIf="!vistaPerfil">
          <div class="col-12">
            <app-mis-productos [userId]="idUser"></app-mis-productos>
          </div>
        </div>
        <!-- Fin de contenido personalizado -->
      </div>
    </div>
  </div>
</div>
