<div class="producto-lista">
  <div class="productos-header" *ngIf="!booleanModificarProducto">
    <h3>Productos</h3>
    <button type="button" class="btn btn-outline-success" *ngIf="!booleanAgregar" (click)="modificarBooleanAgregar()"> Agregar producto </button>
    <button type="button" class="btn btn-outline-success" *ngIf="booleanAgregar" (click)="modificarBooleanAgregar()"> Volver </button>
    <app-agregar-producto-perfil [userId]="userId" *ngIf="booleanAgregar" ></app-agregar-producto-perfil>
    
    <mat-form-field  class="buscar" *ngIf="!booleanAgregar">
      <mat-label>Buscar</mat-label>
      <input [(ngModel)]="textoBuscado" name="textoBuscado" placeholder="Nombre del producto" (keyup)="leerTodo()" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="filtro">
      <p> Filtar por </p>
    <select  [(ngModel)]="filtro"  (change)="filtrar()"  class="form-select form-select-sm ms-2 fs-10 custom-select"  aria-label="Filtro de búsqueda">
      <option value="todos" selected>Todos</option>
      <option value="privados">Privados</option>
      <option value="publicos">Publicos</option>
    </select>
    </div>
    
  </div>

  <!-- Contenedor de productos -->
  <div class="productos-container"  *ngIf="!booleanAgregar && !booleanModificarProducto">
     <!-- Mensaje si no hay productos -->
     <div class="alert alert-warning" *ngIf="productos.length === 0">
      No hay productos cargados.
    </div>
    <div *ngFor="let producto of productos" class="col-md-4 mb-4" >
      <div class="card">
        <img [src]="producto.imagen ? producto.imagen : 'assets/img/imagen-por-defecto.jpg'" alt="Imagen del producto" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h5 class="nombre-producto">{{ producto.nombre }}</h5>
            <button 
            *ngIf="producto.id"
            class="btn btn-link p-0 ms-2 text-primary" 
           (click)="modificarProducto(producto.id)">
            <i class="fa-solid fa-pen-to-square"></i>
            Editar
            </button>
          </div>
          
          <p class="card-text"><strong>Categoría:</strong> {{ producto.categoria }}</p>
          <p class="card-text"><strong>Descripción:</strong> {{ producto.descripcion }}</p>
          <p class="card-text"><strong>Precio:</strong> {{ producto.precio | currency }}</p>

          <div class="d-flex justify-content-between">
            <button 
              class="btn btn-sm d-flex align-items-center justify-content-center" 
              [ngClass]="producto.privado ? 'btn-secondary' : 'btn-primary'" 
              (click)="cambiarPrivacidad(producto.id)">
              <mat-icon>{{ producto.privado ? 'visibility_off' : 'visibility' }}</mat-icon>
              <span class="ms-1">{{ producto.privado ? 'Privado' : 'Público' }}</span>
            </button>

            <button class="btn btn-danger btn-sm d-flex align-items-center justify-content-center" (click)="eliminarProducto(producto.id)">
              <mat-icon>delete</mat-icon><span class="ms-1">Eliminar</span>
            </button>

          </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-outline-success" *ngIf="booleanModificarProducto" (click)="modificarBooleanModificar()"> Volver </button>
    <app-modificarproducto [productoId]="productoId"  [idUser]="userId" *ngIf="booleanModificarProducto"></app-modificarproducto>
    </div>
  </div>
