/* Contenedor principal */
.producto-lista {
    margin: 15px;
  }
  
  /* Estilos para el contenedor de los productos */
  .productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 10px;
  }
  
  /* Estilos para las tarjetas de los productos */
  .producto-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Efecto al pasar el mouse por la tarjeta */
  .producto-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Imagen del producto */
  .producto-imagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Información del producto */
  .producto-info {
    margin-top: 10px;
  }
  
  .producto-info h4 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .producto-info p {
    font-size: 1em;
    color: #555;
  }
  
  /* Botón de eliminar */
  .eliminar-boton {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .eliminar-boton:hover {
    background-color: #c0392b;
  }
  
  .eliminar-boton mat-icon {
    margin-right: 8px;
  }
  
  h3{
    font-size:1.3em;
  }