.producto-lista {
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  /* Coloca las tarjetas en un grid */
  gap: 20px;
}

.nombre-producto {
  font-size: 1.2rem;
  font-weight: bold;
  color: #353434;
  margin-bottom: 0;
}

.no-productos {
  text-align: center;
}

.buscar {
  width: 28vw;
  margin-left: 23vw;
}

.filtro {
  margin-bottom: 2vh;
}

.custom-select {
  width: 9vw;
}

.filtros-productos {
  justify-content: space-between;
}

.imagen-no-productos {
  width: 40%;
  margin-bottom: 0;
}

.card-text.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0;
}

.image-container {
  position: relative;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.icon-edit:hover{
  color: rgb(113, 162, 253);
}

.custom-badge {
  padding: 5px 7px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: normal;
  width: 40%;
  align-self: center;
}

.card-size{
  height: 100%;
}

.custom-pagination-btn {
  font-size: 0.9rem; 
  padding: 6px 10px; 
}

.product-description{
  height: 15vh;
}

@media (max-width: 786px) {
  .filtros-productos {
    flex-direction: column;
  }

  .texto-no-producto {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .producto-lista {
    width: 100%;
    margin-bottom: 0 !important;
    border-radius: 0;
  }

  .imagen-no-productos {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .texto-titulo {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .custom-pagination-btn {
    font-size: 0.8rem; 
    padding: 4px 6px; 
  }

  .paginaTexto{
    font-size: 0.8rem;
  }
}
