/* Contenedor principal */
.producto-lista {
  margin-top: 10vh;
}

/* Estilos para el contenedor de los productos */
.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Ajusta el tamaño mínimo de las columnas */
  gap: 20px; /* Mayor espacio entre las tarjetas */
  margin-top: 20px;
}

/* Estilos para las tarjetas de los productos */
.producto-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Mayor padding para las tarjetas */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top:2vh;
}

/* Efecto al pasar el mouse por la tarjeta */
.producto-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.producto-imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Información del producto */
.producto-info {
  margin-top: 10px;
}

.producto-info h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.producto-info p {
  font-size: 1em;
  color: #555;
}

/* Botón de eliminar */
.eliminar-boton {
  background-color: #e74c3c;
  color: white;
  padding: 6px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.eliminar-boton:hover {
  background-color: #c0392b;
}

.eliminar-boton mat-icon {
  margin-right: 8px;
}

h3 {
  margin-top:2vh;
  font-size: 1.8em;
  margin-left: 8vh;
}

/* Estilo del encabezado */
.productos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* Contenedor para los botones */
.botones-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Botón de ojito (privacidad) */
.ojito-boton {
  padding: 2px 5px; /* Reducir más el padding */
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
  line-height: 1; /* Reducir el alto de línea */
  transition: background-color 0.3s;
  color: white;
}

.ojito-boton.privado {
  background-color: #e74c3c; /* Rojo para privado */
}

.ojito-boton.publico {
  background-color: #2ecc71; /* Verde para público */
}

/* Botón de eliminar */
.eliminar-boton {
  background-color: #e74c3c;
  color: white;
  padding: 6px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  transition: background-color 0.3s;
}

.eliminar-boton:hover {
  background-color: #c0392b;
}

.eliminar-boton mat-icon {
  margin-right: 8px;
}

/* Estilo del botón de agregar */
.agregar-boton {
  background-color: #2ecc71; /* Verde */
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px; /* Aumento el tamaño */
  height: 40px; /* Aumento el tamaño */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-right: 10vh;
}

.agregar-boton:hover {
  background-color: #27ae60; /* Verde oscuro */
  transform: scale(1.1);
}

/* Ícono dentro del botón */
.agregar-boton mat-icon {
  font-size: 1.5em;
}

.buscar{
  width: 40vw;
}