<div *ngIf="productos.length > 0; else noProductos" class="producto-lista">
  <div class="productos-header">
    <h3>Productos</h3>
    <button class="agregar-boton" (click)="agregarProducto()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="fill" class="buscar">
      <mat-label>Buscar</mat-label>
      <input [(ngModel)]="textoBuscado" name="textoBuscado" placeholder="Nombre del producto" (keyup)="leerTodo()" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </div>
  <div class="productos-container">
    <div *ngFor="let producto of productos" class="producto-card">
      <img [src]="'assets/img/shapes.png'" alt="Imagen del producto" class="producto-imagen">
      <div class="producto-info">
        <h4>{{ producto.nombre }}</h4>
        <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
        <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
        <p><strong>Precio:</strong> {{ producto.precio | currency }}</p>
      </div>
      <div class="botones-container">
        <button 
          class="ojito-boton" 
          [ngClass]="producto.privado ? 'privado' : 'publico'" 
          (click)="cambiarPrivacidad(producto)">
          <mat-icon>{{ producto.privado ? 'visibility_off' : 'visibility' }}</mat-icon>
          {{ producto.privado ? 'Privado' : 'Público' }}
        </button>
        <button class="eliminar-boton" (click)="eliminarProducto(producto.id)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noProductos>
  <p>No hay productos disponibles para este usuario.</p>
</ng-template>
