.mat-toolbar .mat-mcd-form--field-subscript-wrappr.mat-mdc-form-field-bottom-aling{
    display: none;
}
.mat-mdc-form-field:not(.mat-mdc-paginator-page-size-select){
    width: 100%;
}

.mat-mdc-no-data-row td div.mensaje-no-existen-datos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 50px;
    background-color:#f7c8e7ad ;
}
.mat-mdc-no-data-row td div.mensaje-no-existen-datos .mat-icon{
    color: #f14c75ad;
}
.custom-button {
    background-color: #f8deb3c7; /* Cambia el color de fondo */
    color: #f38f0b; /* Cambia el color del texto */
    border-radius: 50px; /* Haz los bordes más redondeados */
    padding: 5px; /* Ajusta el tamaño */
    width: 40px; /* Ajusta el ancho */
    height: 40px; /* Ajusta la altura */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-button mat-icon {
    font-size: 20px; /* Cambia el tamaño del icono */
  }
  .button-container { display: flex; gap: 10px; /* Espacio entre los botones */ }

  .custom-dialog-container { 
    width: 100%; max-height: 80vh; 
    /* Limita la altura máxima al 80% del viewport */
     display: flex; 
     flex-direction: column; }
  .custom-dialog-content { 
    
        flex: 1; 
        overflow-y: auto; /* Permite el desplazamiento vertical si el contenido se desborda */ 
        padding: 20px; /* Ajusta según tus necesidades */
    }
    .custom-dialog-footer { padding: 10px; text-align: right; /* Alinea el contenido del pie de página a la derecha */ }

    mat-toolbar {
        background-color: transparent !important;
        box-shadow: none; /* Elimina la sombra, si existe */
    }

    .container-fluid .row {
        margin: 0;
        padding: 0;
    }
    
    .mat-form-field, button {
        margin-top: 0;
        margin-bottom: 0;
    }
    