<div class="container px-4 py-5" id="faq-section">
  <div id="faq-title-container" class="titulo d-flex align-items-center justify-content-start">
      <mat-icon>question_answer</mat-icon>
      <h6 class="title ms-2 text-center text-md-start display-6 display-md-5 display-lg-4" id="faq-title">
          Preguntas Frecuentes
      </h6>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Acerca de
              </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  TrepAr no solo simplifica la gestión de tus tareas, sino que también te conecta con otros <strong>emprendedores</strong>. 
                  Creemos en la importancia de construir una <strong>comunidad</strong> donde puedas compartir experiencias, colaborar y recibir apoyo mutuo.
                  Nuestro objetivo es brindarte las herramientas necesarias para que puedas concentrarte en lo más importante: hacer crecer tu proyecto y alcanzar tus metas.         
              </div>
          </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  ¿Cómo personalizo mi perfil?
              </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  Dirígete a la barra lateral, selecciona <strong>Perfil</strong>, haz clic en el ícono de editar y modifica tus datos como desees.
              </div>
          </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  ¿Cómo edito mi cuenta?
              </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  Selecciona <strong>Configuración</strong> en la barra lateral, haz clic en <strong>Modificar Cuenta</strong> y actualiza los datos que necesites.
              </div>
          </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  ¿Cómo agrego un producto?
              </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  En la sección <strong>Perfil</strong>, selecciona <strong>Agregar Producto</strong>, completa el formulario y define si será público o privado.
              </div>
          </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  ¿Cómo utilizo el simulador?
              </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  Accede a la sección <strong>Simulador</strong> desde la barra lateral y presiona <strong>Agregar</strong> para generar un nuevo costo de venta.
              </div>
          </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                  ¿Cómo accedo a la comunidad?
              </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  En la barra lateral, selecciona <strong>Comunidad</strong> para explorar perfiles, agregar favoritos y filtrar por productos.
              </div>
          </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                  ¿Cómo funciona la mensajería?
              </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  Para enviar un mensaje a un usuario, accede al <strong>perfil del usuario</strong> y presiona el ícono de mensaje. Se desplegará una ventana donde puedes escribir y enviar el mensaje. 
                  Para ver tus chats, dirígete a <strong>Chat</strong> en la barra lateral. Allí podrás ver tu historial de chats, donde se marcarán con un punto rojo aquellos mensajes no vistos. Además, puedes filtrar tus chats por nombre de usuario usando el buscador.
              </div>
          </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                  ¿Cómo accedo a mi lista de favoritos?
              </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  Para acceder a tu lista de favoritos, dirígete a la barra lateral y selecciona la opción <strong>Comunidad</strong>.
                  Luego, en el primer filtro, elige <strong>Emprendedores</strong> y en el segundo filtro selecciona <strong>Favoritos</strong>. 
              </div>
          </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                  Para más información, contáctanos...
              </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <p>Alijas Julieta - <a href="mailto:julieta94@gmail.com">julieta94&#64;gmail.com</a></p> 
                  <p>Brocardo Anahi - <a href="mailto:anahibrocardo213@gmail.com">anahibrocardo213&#64;gmail.com</a></p>
                  <p>Ibañez Ayelen - <a href="mailto:ibanezayelen307@gmail.com">ibanezayelen307&#64;gmail.com</a></p>
              </div>
          </div>
      </div>

  </div>
</div>
