<div class="container">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-outline-dark" (click)="volverComunidad()">Volver</button>
      <div class="my-2">

        <div class="row datos-perfil align-items-center">
          <div class="col-md-3 text-center">
            <div class="avatar avatar-xl">
          
              <img [src]="perfilSeleccionado?.imagePerfil || 'assets/img/usuario.png'" alt="Imagen de perfil" class="avatar-img rounded-circle">
           
              <a class="correo-icon">
                <i class="fa-solid fa-envelope fa-2xl correo" style="color: #0d6efd;"></i>
              </a>
            </div>
          </div>

      
          <div class="col position-relative">
            <div class="row">
              <div class="col-md-7">
                <h4 class="mb-1">{{perfilSeleccionado?.userName}}</h4>
                <span class="badge rounded-pill text-bg-dark mb-3">
                  {{perfilSeleccionado?.provincia}}, {{perfilSeleccionado?.ciudad}}
                </span>
                <p class="text-muted">{{perfilSeleccionado?.descripcion}}</p>
              </div>
              <div class="col">
                <p class="mb-3 text-muted" *ngIf="perfilSeleccionado?.telefono">
                  <i class="fa-solid fa-phone"></i>
                  {{perfilSeleccionado?.telefono}}
                </p>
                <p class="mb-3" *ngIf="perfilSeleccionado?.linkLinkedIn">
                  <i class="fa-brands fa-linkedin"></i>
                  <a [href]="perfilSeleccionado?.linkLinkedIn" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
                </p>
                <p class="mb-3" *ngIf="perfilSeleccionado?.linkInstagram">
                  <i class="fa-brands fa-instagram"></i>
                  <a [href]="perfilSeleccionado?.linkInstagram" target="_blank" rel="noopener noreferrer"> Instagram </a>
                </p>
              </div>
            </div>

         
            <a class="icono-marcador" (click)="alternarFavorito()">
              <i
              *ngIf="isFavorito"
              class="fa-solid fa-bookmark fa-2xl favorito"
              title="Quitar de favoritos"
            ></i>
          
            <!-- Ícono cuando no es favorito -->
            <i
              *ngIf="!isFavorito"
              class="fa-solid fa-bookmark fa-2xl noFavorito"
              title="Guardar perfil"
            ></i>
             </a>
             
          </div>
        </div>

     
        <div class="row">
          <div class="col-12">
            <div class="headerProductos">
              <div class="tituloProducto">
                <h3>Productos</h3>
              </div>
              <div>
                <mat-form-field class="buscar">
                  <mat-label>Buscar producto</mat-label>
                  <input [(ngModel)]="textoBuscado" name="textoBuscado" placeholder="Nombre del producto" (keyup)="leerTodo()" matInput>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
            
            <div class="productos-container">
              
              <div class="alert alert-warning" *ngIf="listaProductos.length === 0">
                No hay productos cargados.
              </div>
              <div *ngFor="let producto of listaProductos" class="col-md-4 mb-4">
                <div class="card">
                  <img [src]="producto.imagen ? producto.imagen : 'assets/img/imagen-por-defecto.jpg'" alt="Imagen del producto" class="card-img-top">
                  <div class="card-body">
                    <div class="card-title">
                      <h5 class="nombre-producto">{{ producto.nombre }}</h5>
                    </div>
                    <p class="card-text"><strong>Categoría:</strong> {{ producto.categoria }}</p>
                    <p class="card-text"><strong>Descripción:</strong> {{ producto.descripcion }}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>