<section  class="mi-imagen-inicio"> 
    <img src="assets/img/inicio.jpg" alt="Imagen representativa de inicio de TrepAr">
    <div class="overlay"></div>
    <div class="texto-centrado">
        <h1>Bienvenido a TrepAr!</h1>
        <p class="texto-pequeno">
        TrepAr esta diseñado para ofrecer a los emprendedores una solución 
        integral que facilite la gestión de sus actividades clave, mejorando su organización 
        y permitiéndoles concentrarse en el crecimiento de sus negocios.
        </p>
      </div>
</section >

<section>
  <!-- Sección de íconos representativos -->
  <div class="icon-row">
      <div class="icon-item">
          <i class="fas fa-rocket"></i>
          <h4>Impulso</h4>
          <p>Facilitamos el análisis de tus costos.</p>
      </div>
      <div class="icon-item">
          <i class="fas fa-users"></i>
          <h4>Colaboración</h4>
          <p>Conectamos emprendedores para construir redes sólidas.</p>
      </div>
      <div class="icon-item">
          <i class="fas fa-chart-line"></i>
          <h4>Crecimiento</h4>
          <p>Cultivamos el crecimiento personal y profesional.</p>
      </div>
      <div class="icon-item">
          <i class="fas fa-lightbulb"></i>
          <h4>Creatividad</h4>
          <p>Fomentamos un entorno donde las ideas pueden florecer y evolucionar.</p>
      </div>
  </div>
</section>

<section>
  <div class="about-card">
    <h2>Sobre Nosotros</h2>
    <p>
      Somos un grupo de estudiantes de la Universidad Tecnológica Nacional en Mar del Plata, apasionadas por la tecnología y el diseño, comprometidas en crear herramientas que hagan la diferencia para emprendedores como vos. Sabemos que emprender es un camino lleno de desafíos y que la organización es clave para alcanzar el éxito. Por eso, nuestro objetivo es facilitar la gestión de tus actividades, para que puedas enfocarte en hacer crecer tu proyecto sin preocupaciones.
    </p>
    <div class="team">
      <h3>Nuestro Equipo</h3>
      <ul>
        <li>Anahi Brocardo - Desarroladora</li>
        <li>Julieta Alijas - Desarrolladora</li>
        <li>Ayelen Ibañez - Desarroladora</li>
      </ul>
    </div>
    <img src="assets/img/gatito.png" alt="Gatito colgando" class="hanging-cat">
  </div>
</section>
