<section  class="mi-imagen-inicio"> 
    <img src="assets/img/inicio.jpg" alt="Imagen representativa de inicio de TrepAr">
    <div class="overlay"></div>
    <div class="texto-centrado">
        <h1>Bienvenido a TrepAr!💡</h1>
        <p class="texto-pequeno">
        TrepAr esta diseñado para ofrecer a los emprendedores una solución 
        integral que facilite la gestión de sus actividades clave, mejorando su organización 
        y permitiéndoles concentrarse en el crecimiento de sus negocios.
        </p>
      </div>
</section >