.comunidad {
  width: 90%;
  margin: 150px auto 0;
  background-color: white;
  border-radius: 15px;
  padding: 2%;
  position: relative;
  margin-top: 0 !important;
}

@media (max-width: 425px) {
  .producto-lista {
    width: 100%;
    margin-bottom: 0 !important;
    border-radius: 0;
  }
}

.filtros-perfiles {
  justify-content: space-between;
}

@media (max-width: 786px) {
  .filtros-perfiles {
    flex-direction: column;
  }
}

.no-perfiles {
  text-align: center;
}

.imagen-no-perfiles {
  width: 40%;
  margin-bottom: 0;
}

@media (max-width: 425px) {
  .imagen-no-perfiles {
    width: 70%;
  }
}

.edit-fav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.icono-marcador {
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.favorito {
  color: #FFD43B;
}

.noFavorito {
  color: #878787;
}

.favorito:hover {
  color: #878787;
}

.noFavorito:hover {
  color: #eecf60;
}

.nombre-perfil {
  font-size: 1.2rem;
  font-weight: bold;
  color: #353434;
  margin-bottom: 0;
}

.profile-description {
  height: 15vh;
}

.card-text.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0;
}

.card-size {
  height: 100%;
}
