.comunidad-container{
    background-color: white;
    width: 100%;
    padding-bottom: 10vh;
}
.containerFiltros{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.87); /* Negro con 60% de transparencia */
  color: white; /* Color del texto */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center;
  z-index: 10;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
}

.search-form {
  display: flex;
  align-items: center;
}

.form-control{
  width: 18vw;
}

.custom-select {
  width: 9vw; /* Ajusta el valor según lo necesites */
}

.card {
  display: flex;
  margin-left: 0.8vw;
  justify-content: space-between; /* Ajusta el espacio entre los elementos dentro de la tarjeta */
  flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente fila si no caben */

  }
  
  .card-body {
    flex: 1;  /* Hace que el cuerpo de la tarjeta ocupe todo el espacio disponible */
  }
  
  .card-img-top {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio disponible sin deformarse */
    max-height: 5hv;  /* Ajusta la altura de la imagen */
  }
  
  .card-container{
    margin-top:5vh;
  }

  .ubicacion{
    font-weight: bold;
    font-size: 0.9rem;
  }

  .enlaces{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .correo{ 
    transition: transform 0.2s ease-in-out;
  }
  
  .correo:hover { 
    transform: scale(1.1); /* Efecto de ampliación al pasar el cursor */
  }

  .icono-marcador {
    position: absolute;
    top: 2vh; /* Espacio desde el borde superior, adaptado a la altura de la pantalla */
    right: 2vw; /* Espacio desde el borde derecho, adaptado al ancho de la pantalla */
    margin-right: 15px; /* Ajuste adicional para margen */
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave del color */
  }

  .favorito{
    color: #FFD43B;
  }

  .noFavorito{
    color: #878787;
  }
  
  .favorito:hover{
    color: #878787; /* Color gris */
  }

  .noFavorito:hover{
    color: #eecf60; /* Color amarillo */
  }