.comunidad-container{
    background-color: white;
    width: 100%;
    padding-bottom: 10vh;
}

.card {
  display: flex;
  margin-left: 0.8vw;
  justify-content: space-between; /* Ajusta el espacio entre los elementos dentro de la tarjeta */
  flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente fila si no caben */

  }
  
  .card-body {
    flex: 1;  /* Hace que el cuerpo de la tarjeta ocupe todo el espacio disponible */
  }
  
  .card-img-top {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio disponible sin deformarse */
    max-height: 5hv;  /* Ajusta la altura de la imagen */
  }
  
  .card-container{
    margin-top:5vh;
  }

  .ubicacion{
    font-weight: bold;
    font-size: 0.9rem;
  }

  .enlaces{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .correo{ 
    transition: transform 0.2s ease-in-out;
  }
  
  .correo:hover { 
    transform: scale(1.1); /* Efecto de ampliación al pasar el cursor */
  }