/* Estilo general del diálogo */
.mat-dialog-container {
  padding: 16px; /* Espaciado interno del diálogo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para mejor diseño */
}

/* Título del diálogo */
h2 {
  font-size: 2.5rem!important; /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  margin-bottom: 16px;
  color: #10a7b8 !important; /* Cambia el color a #f8deb3 */
  text-align: center;
  
}

h3 {
  font-size: 1.5rem!important; 
  color: #10a7b8 !important;

}

/* Estilo del stepper */
.mat-horizontal-stepper-header {
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px; /* Aumenta el espacio entre los números de los pasos */
}

.mat-horizontal-stepper-header-container {
  gap: 16px; /* Espaciado entre los pasos */
}

/* Estilo para los números de los pasos en el stepper */
.mat-step-label {
  font-size: 1.6rem !important; /* Aumenta el tamaño de la fuente */
  color: #da3177 !important; /* Cambia el color a #0ba2b3 */
  font-weight: bold;
  text-align: center; /* Centra los números */
  width: 50px; /* Ancho fijo para el número */
  display: inline-block; /* Para asegurar que el número quede centrado */
}

.mat-step-label-active {
  color: #f8deb3 !important; /* Cambia el color del número activo */
}

.mat-stepper-horizontal-line {
  border-top: 2px solid #42ad27 !important; /* Línea debajo de los pasos */
  margin: 0 auto;
}

/* Estilo para los botones - Sin color oscuro al pasar el cursor */
button {
  margin: 8px;
  transition: background-color 0.3s ease !important; /* Agrega una transición suave */
  color: #eeab40 !important;
}

button:hover {
  background-color: transparent !important; /* Elimina el efecto oscuro al hacer hover */
  
}

/* Contenido del formulario */
mat-form-field {
  width: 100%; /* Asegura que los campos ocupen todo el ancho disponible */
  margin-bottom: 20px; /* Espaciado entre campos */
}

mat-form-field:last-child {
  margin-bottom: 0;
}

/* Contenedor de botones */
button:first-child {
  margin-right: auto; /* Alinea el botón "Anterior" a la izquierda */
}

button:last-child {
  margin-left: auto; /* Alinea el botón "Siguiente" a la derecha */
}
