<h2 mat-dialog-title>
  Simulador
  <button mat-icon-button class="close-btn" (click)="cancelar()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</h2>

<mat-dialog-content>
  <form [formGroup]="formulario">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <!-- Paso 1: Nombre -->
      <mat-step [stepControl]="formulario.get('nombre')!">
        <h3>Paso 1: Nombre</h3>
        <mat-form-field>
          <mat-label>Nombre del Producto</mat-label>
          <mat-icon matSuffix matTooltip="Indique el nombre del producto que deseas agregar.">info</mat-icon>
          <input matInput formControlName="nombre" placeholder="Nombre del producto">
          <mat-error *ngIf="formulario.get('nombre')?.hasError('required')">El nombre es obligatorio.</mat-error>
          <mat-error *ngIf="formulario.get('nombre')?.hasError('minlength')">Debe tener al menos 3 caracteres.</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext type="button" [disabled]="formulario.get('nombre')?.invalid">Siguiente</button>
        </div>
      </mat-step>

      <!-- Paso 2: Materia Prima -->
      <mat-step [stepControl]="formulario.get('precioMP')!">
        <h3>Paso 2: Materia Prima</h3>
        <mat-form-field>
          <mat-label>Precio total de Compra </mat-label>
          <mat-icon matSuffix matTooltip="Indique el precio total de tu compra en pesos">info</mat-icon>
          <input matInput type="number" [min]="1" formControlName="precioMP" placeholder="Precio total">
          <mat-error *ngIf="formulario.get('precioMP')?.hasError('required')">El precio es obligatorio.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cantidad comprada</mat-label>
          <mat-icon matSuffix matTooltip="Indique la cantidad de producto comprada en unidades, kg, gr, lt etc">info</mat-icon>
          <input matInput type="number" [min]="1" formControlName="UnidadDeCompraMP" placeholder="Cantidad adquirida">
          <mat-error *ngIf="formulario.get('UnidadDeCompraMP')?.hasError('required')">La cantidad es obligatoria.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Unidad para la venta </mat-label>
          <mat-icon matSuffix matTooltip="Indique cómo se venden o comercializan los productos, por ejemplo, en unidades individuales o por grupos de 2 unidades.">info</mat-icon>
          <input matInput type="number" [min]="1" formControlName="cantidadMP" placeholder="Unidad para la venta">
          <mat-error *ngIf="formulario.get('cantidadMP')?.hasError('required')">La cantidad utilizada es obligatoria.</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Anterior</button>
          <button mat-button matStepperNext type="button" [disabled]="formulario.get('precioMP')?.invalid || formulario.get('UnidadDeCompraMP')?.invalid || formulario.get('cantidadMP')?.invalid">Siguiente</button>
        </div>
      </mat-step>

      <!-- Paso 3: Costos Fijos -->
      <mat-step [stepControl]="formulario.get('valorGF')!">
        <h3>Paso 3: Gastos Fijos</h3>
        <mat-form-field>
          <mat-label>Monto de Gastos Fijos</mat-label>
          <mat-icon matSuffix matTooltip="Indique el total en pesos de gastos fijos. Ej: Transporte, alquiler, servicios, etc">info</mat-icon>
          <input matInput type="number" [min]="1" formControlName="valorGF" placeholder="Costo total de gastos fijos">
          <mat-error *ngIf="formulario.get('valorGF')?.hasError('required')">El valor de gastos fijos es obligatorio.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cantidad total de productos comprados</mat-label>
          <mat-icon matSuffix matTooltip="Indique la cantidad de productos comprados (en unidades) que corresponden a los gastos fijos. Por ejemplo, si el gasto fijo de transporte fue de $10,000 y se compraron un total de 10 productos, debe ingresar 10">info</mat-icon>
          <input matInput type="number" [min]="1" formControlName="CantidadProductoMensual" placeholder="Número de unidades adquiridas">
          <mat-error *ngIf="formulario.get('CantidadProductoMensual')?.hasError('required')">La cantidad es obligatoria.</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Anterior</button>
          <button mat-button matStepperNext type="button" [disabled]="formulario.get('valorGF')?.invalid || formulario.get('CantidadProductoMensual')?.invalid">Siguiente</button>
        </div>
      </mat-step>

      <!-- Paso 4: Ganancia -->
      <mat-step [stepControl]="formulario.get('Ganancia')!">
        <h3>Paso 4: Ganancia</h3>
        <mat-form-field>
          <mat-label>Porcentaje de Ganancia</mat-label>
          <mat-icon matSuffix matTooltip="Indique el porentaje de ganancia deseado">info</mat-icon>

          <input matInput type="number" [min]="0" formControlName="Ganancia" placeholder="Porcentaje de ganancia">
          <mat-error *ngIf="formulario.get('Ganancia')?.hasError('required')">La ganancia es obligatoria.</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Anterior</button>
          <button mat-button matStepperNext type="button" [disabled]="formulario.get('Ganancia')?.invalid">Siguiente</button>
        </div>
      </mat-step>

      <!-- Paso 5: Resultado -->
      <mat-step>
        <h3>Paso 5: Resultado</h3>
        <h4>Precio Final con Ganancia: ${{ calcularTodo().toFixed(2) }}</h4>
        <div>
          <button mat-button matStepperPrevious type="button">Anterior</button>
          <button mat-button (click)="guardar()">Guardar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-dialog-content>
