<div
  class="sidenav text-bg-dark"
  [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()" aria-label="Abrir o cerrar menú">
      <i class="fal fa-bars"></i>
    </button>
    @if (!isLeftSidebarCollapsed()) {
      <div class="logo-text">
        <img src="/assets/img/logo nav2.png" alt="Logo de TrepAr">
      </div>
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {

      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">{{ item.label }}</span>
          }
        </a>
      </li>
    }
  </div>
  <section class="container-fluid" id="logout">
    <button class="btn btn-outline-light rounded-circle p-3 lh-1" type="button" (click)="redirigir()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span class="visually-hidden">Dismiss</span>
    </button>
  </section>
</div>
